@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}







<div class="row">

    @foreach(var item in Model)
    {

        <partial name="_ProductBox" model="@item"></partial>

    
    }

</div>
